body{
    margin: 0;
}
.firsttext p{
    font-weight: 600;
}
.firsttext{
    text-align: center;
    background-image: url(Images/donation13.jpg);
    color: white;
    box-shadow: 0px 100px 500px 0px black inset;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
    font-size: x-large;
    height: 80%;
}
.link{
    background: linear-gradient(to right,orange, tomato );
    text-decoration: none;
    padding: 13px 26px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: x-large;
    margin-top: 20px;
}
.secondtext{
    font-size: x-large;
    text-align: center;
    padding: 5%;
}
#amounts{
    display: flex;
    justify-content: center;
}
.takas{
    background-color: rgba(128, 128, 128, 0.452);
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    font-size: x-large;
}
#chosentaka{
    color: red;
    background-color: rgba(128, 128, 128, 0.452);
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    font-size: x-large;
    border: 5px solid red;
}
#textbox{
    font-size: 30px;
    text-align: center;
    border: 0;
    border-bottom: 2px solid black;
    margin-top: 10px;
    padding: 0px 20%;
    
}
